*{
    margin:0;
    padding:0;
}
/* Navbar Section */

 .navbar{
    background-color: rgb(31, 30, 30); 
    transition: 0.5s ease left; 
	
}
.navbar-nav{
    margin-left: 600px;
    font-size: 1.3rem;
    font-weight: 400;
    color: white;   
}
.navbar-brand h1{
    font-size: 2rem;
	text-transform: uppercase;
    margin-left: 80px;
    text-decoration: none;
	color: white; 
}
.navbar-brand h1 span{
	color: crimson;
}
.nav-link{
	letter-spacing: 0.3rem;
	text-transform: uppercase; 
	/* padding: 20px; */
	/* display: block; */
}
/* End Navbar  */
/* Header Section */
/* .container { *
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
/* } */
.header-container{
    background-image: url(./portfolio1bg.png);
    background-size: cover;
    /* height: 100vh; */
	height: 700px;
    width: 100%;
    background-position: top center; 
    position: relative; 
}
.header-container{ 
    max-width: 1600px;
	margin: 0 auto;
	padding: 0 50px;
	/* justify-content: flex-start; */

 } 
 .header-container h1{ 
    display: block;
	width: fit-content;
	font-size: 4rem;
    letter-spacing: 0.2rem;
	position: relative;
	color:white ;
    top:130px;
    left: 200px;
	
} 
.header-container h1 span{ 
   color: crimson;
 }
 .cta {
	/* display: inline-block; */
    position: relative;
    top: 120px;
    left: 200px;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	/* transition: 0.3s ease; */
	text-decoration: none;
	/* transition-property: background-color, color; */
}
.cta:hover {
	color: white;
	background-color: crimson;
}

/* About section */
.section-title {
	font-size: 3.5rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	/* text-align: center; */
}

.section-title span {
	color: crimson;
}
.col-left {
	width: 250px;
	height: 360px;
}
.col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	left: 100px;
	border: 10px solid white;
}
.col-right h2 {
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
 /* .col-right .cta {  *
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px; 
	font-size: 1.3rem;
	text-decoration: none;
/* }  */
.about-cta{
	position: relative;
    top:40px;
    /* left: 10px; */
	padding: 10px 30px;
	/* color: white; */
	color: black;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 1.3rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	/* transition: 0.3s ease; */
	text-decoration: none;
	
}
.about-cta:hover {
	color:black;
	background-color: crimson;
}