*{
    margin:0;
    padding:0;
}
/* Navbar Section */
 .navbar-nav{     
    margin-left: 600px;
    font-size: 1.3rem;
    font-weight: 400;
    color: white;   
 }   
.navbar-brand h1{
    font-size: 2rem;
	text-transform: uppercase;
    margin-left: 80px;
    text-decoration: none;
	color: white; 
}
.navbar-brand h1 span{
	color: crimson;
}
.nav-link{
	letter-spacing: 0.3rem;
	text-transform: uppercase; 	
} 
.bg-dark{
	background-color:  rgba(31, 30, 30, 0.24);
}
/* End Navbar  */
/* Header Section */
.header-container{
    background-image: url(./bg-computer.png);
    background-size: cover;
    /* height: 100vh;  */
	height: 700px;
    width: 100%;
    background-position: top center; 
    position: relative; 
	opacity: 0.9;
}
.header-container-text{
	position: relative;
	top:110px;
	left:160px;
}
.header-container h1{ 
    display: block;
	width: fit-content;
	font-size: 4rem;
    letter-spacing: 0.2rem;
	color:white ;
} 
.header-container h1 span{ 
   color: crimson;
 }
.header-text{
	font-size: 25px;
	color:whitesmoke;
	margin-top: 15px;
	letter-spacing: 0.1rem;
}
.cta {
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	text-decoration: none;
}
.cta:hover {
	color: white;
	background-color: crimson;
}
.s-icon{
    word-spacing: 20px;
	margin: 20px;
}

/* About section */
.section-title {
	font-size: 3.5rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
	/* text-align: center; */
}

.section-title span {
	color: crimson;
}
.col-left {
	width: 250px;
	height: 360px;
}
.col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	left: 100px;
	border: 10px solid white;
}
.col-right h2 {
	font-size: 1.9rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-top: 20px;
	margin-bottom: 10px;
}
.fs-5{
	letter-spacing: 0.1rem;	
}
.about-cta{
	position: relative;
    top:25px;
    /* left: 10px; */
	padding: 10px 30px;
	/* color: white; */
	color:black;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 1.3rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	text-decoration: none;
}
.about-cta:hover {
	color:white;
	background-color: crimson;
}
.col-left .about-img { 
	height: 95.7%;
	width: 100%; 
	position: relative;
	border: 3px solid crimson; 
    /* border: 10px solid white; */
 } 
.col-left .about-img::after {    
	content: '';
	position: absolute;
	left: -33px;
	top: 25px;
    height: 100%;
    width: 100%; 
	border: 9px solid crimson;
	z-index: -1;
 } 

.btn-danger{
	background-color: crimson ;

}
/* Contact Section */
.card-body-a{
	text-decoration: none;
	color: black;
}
/* Footer Section */
.footer-container{
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	flex-direction: column;
    padding-top: 40px; 
	padding-bottom: 1px;

}
.footer-brand h1{
	text-align: center;
	font-size: 2.5rem;
	text-transform: uppercase;
    text-decoration: none;
	color: white; 
}
.footer-brand h1 span{
	color: crimson;
}
.footer-h2 {
	color: white;
	text-align: center;
	font-weight: 500;
	font-size: 1.1rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
.social-icon {
	display: flex;
	margin-bottom: 30px;
	justify-content: center;
}
.social-item { 
	margin: 15px;
} 

@media  screen and (max-width: 600px){
	.navbar-nav{ 
		margin-left: 120px; 
		font-size: 1.1rem;
		font-weight: 400;
		color: white;   
	 } 
	.navbar-brand h1{
		font-size: 1.5rem;
		text-transform: uppercase;
		margin-left: 30px;
		text-decoration: none;
		color: white; 
	}
	.nav-link{
		letter-spacing: 0.2rem;
		text-transform: uppercase; 	
	} 
	.header-container{
		background-image: url(./bg-computer.png);
		background-size: cover;
		/* height: 100vh;  */
		height: 650px;
		width: 100%;
		background-position: top center; 
		position: relative; 
		opacity: 0.9;
	}
	.header-container-text{
		position: relative;
		top:80px;
		left:40px;
	}
	.header-container h1{ 
		display: block;
		width: fit-content;
		font-size: 2.5rem;
		letter-spacing: 0.2rem;
		color:white ;
    }
	.header-text{
		font-size: 20px;
		color:whitesmoke;
		margin-top: 20px;
		letter-spacing: 0.1rem;
		margin-right: 40px;
	}
	.cta {
		padding: 10px 30px;
		color: white;
		background-color: transparent;
		border: 2px solid crimson;
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		margin-top: 10px;
		text-decoration: none;
	}
	.s-icon{
		word-spacing: 10px;
		margin: 20px;
	}
	/* About section */
   .section-title {
	   font-size: 2.5rem;
	   font-weight: 300;
	   color: black;
	   margin-bottom: 10px;
	   text-transform: uppercase;
	   letter-spacing: 0.1rem;
	   margin-top: 20px;
	   text-align: center; 
    }
    .col-left {
	width: 250px;
	height: 360px;
    }
	.col-left .about-img {
		height: 100%;
		width: 100%;
		position: relative;
		left: 60px;
		border: 10px solid white;
	}
    .col-right h2 {
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	margin-left: 5px;
	margin-bottom: 10px;
    }
    .fs-5{
	 letter-spacing:1px;
	 margin-left: 5px; 
    }
    .about-cta{
	position: relative;
    top:15px;
    left: 5px; 
	padding: 10px 15px;
	/* color: white; */
	color:black;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	text-decoration: none;
    } 
	.fun{
		display: flex;
		flex-direction: column;
	    width: 40%; 
		justify-content: space-evenly;
		margin-left: 100px;
	}
	
	/* Footer Section */
	.footer-container{
		background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
		flex-direction: column;
		padding-top: 20px; 
		padding-bottom: 1px;
	
	}
	.footer-brand h1{
		text-align: center;
		font-size: 1.9rem;
		text-transform: uppercase;
		text-decoration: none;
		color: white; 
	}
	.footer-brand h1 span{
		color: crimson;
	}
	.footer-h2 {
		color: white;
		text-align: center;
		font-weight: 500;
		font-size: 1rem;
		letter-spacing: 0.1rem;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.social-icon {
		display: flex;
		margin-bottom: 20px;
		justify-content: center;
	}
	.social-item { 
		margin: 10px;
	} 
	
}

